<div class="container mt-5 ">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2  bg-purple rounded-corners shadow-lg ">
            <div class="w-100 py-3">
                <div class=" col-12  ">
                    <h5 class="ml-3 text-white text-center  pt-1">Angular validation forms</h5>
                    
                    <div class="w-100 text-center">
                    <a routerLink="/tdf" routerLinkActive="active" class="btn btn-sm btn-light" href="#" role="button">Template Driven form</a>
                    <a routerLink="/mdf" routerLinkActive="active" class="ml-2 btn btn-sm btn-light" href="#" role="button">Model Driven form</a>
                </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-3 ">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2  bg-white rounded-corners shadow-lg pb-3">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div class="container mt-3 ">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2  bg-purple rounded-corners shadow-lg text-white py-2 text-center">
            <a href="http://tomaszklimas.pl" class="footer">tomaszklimas.pl</a>
        </div>
    </div>
</div>


